apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  name: vllm-runtime
  namespace: kserve
spec:
  supportedModelFormats:
    - name: vllm
      version: "0"
      autoSelect: true
  containers:
    - name: kserve-container
      image: vllm/vllm-openai:v0.6.6
      args: ["--model", "${MODEL_LOCATION}", "--dtype", "float16"]
      ports:
        - containerPort: 8000
      resources:
        requests:
          cpu: "2"
          memory: "8Gi"
          nvidia.com/gpu: 1
        limits:
          cpu: "4"
          memory: "16Gi"
          nvidia.com/gpu: 1
