{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyAccessKeyChanges",
      "Effect": "Deny",
      "Action": [
        "iam:CreateAccessKey",
        "iam:UpdateAccessKey",
        "iam:DeleteAccessKey"
      ],
      "Resource": "*",
      "Condition": {
        "StringNotLike": {
          "aws:PrincipalArn": ${allowed_principals}
        }
      }
    }
  ]
}
