apiVersion: v1
kind: ConfigMap
metadata:
  name: dex
  namespace: auth
data:
  config.yaml: |
    issuer: http://dex.auth.svc.cluster.local:5556
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    connectors:
    - type: oidc
      id: sso
      name: SSO
      config:
        issuer: REPLACE_OIDC_ISSUER
        clientID: REPLACE_OIDC_CLIENT_ID
        clientSecretFile: /etc/dex/oidc/clientSecret
        redirectURI: https://REPLACE_KF_HOSTNAME/dex/callback
        insecureSkipEmailVerified: false
        userIDKey: sub
        claimMapping:
          email: email
        scopes:
        - openid
        - email
        - profile
