apiVersion: v1
kind: Secret
metadata:
  name: public-example-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://example.com/gitops-repo.git

